.alertBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 27.5px 4.8%;
  background: var(--color-red);
  color: white;
}

.alertBar p {
  display: inline-block;
  margin: 0;
}

.alertBar svg:hover {
  cursor: pointer;
}